#ul1 {
    border-style: inset;
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #31b240;
      }
      
      li {float: left;} /*zorgt ervoor dat het menu aan de linker kant begint*/
      
      li a {
        display: block; /* zorgt voor menu in blokjes vorm*/
        color: white;
        text-align: center;
        padding: 18px 18px;
        text-decoration: none;
      }
    
  /*dit zorgt voor het menu*/
    #tekst1{
      font-family: Lucida, Monospace;
      color: White;
      border-radius: 25px; /*maakt de afbeelding rond*/
      background: #32b121;
      border-style: inset; /*De border om de tekst heen*/
      width: 500px; /*aanpassingen voor de breedte*/
      padding-bottom: 100px;
      padding-top: 100px;
      padding-left: 50px;
      padding-right: 40px;
      margin: 100px; /*aanpassingen voor de grootte*/
    }
  
  /*Dit is de opmaak voor de tekst op de homepage*/
  
    h1{
      font-family: Lucida, Monospace;
      color: White;
      font-size: 20px; /*grootte van de tekst*/
    }
    
  /*Dit is de opmaak van de titel "Wat houd informatica in?*/
  
    footer{
      color: rgb(22, 14, 14);
      background-color: #1ac31a;
      float: left;
      width: 100%;
      text-align: center; /*tekst begint vanuit het midden*/
    }
    
  /*Dit is de footer*/
  
    .inhoud {
      display: none;
      position: absolute;
      background-color: #20c52b;
      min-width: 160px;
    }
    
    .inhoud a {
      color: rgb(17, 16, 16);
      padding: 10px 14px;
      display: block;
    }
    
    .inhoud a:hover {background-color: #34c047} /*Dit zorgt ervoor dat je een achtergrond kleur krijgt als je met je muis over de drie lagen gaat.*/
    
    .dropdown:hover .inhoud {display: block;} /*dit zorgt ervoor dat er blokjes komen*/
    
    .dropdown:hover .dropbtn {background-color: #39be4d;} /*Dit zorgt ervoor dat je een achtergrond kleur krijgt als je met je muis over de drie lagen gaat*/
  
  /*Hierboven staat de code voor het drop down menu*/  
 
  a:link, a:visited {
      background-color: #33b338;
      color: white;
      padding: 10px 20px;
      text-align: center;
      text-decoration: none;
    }
  
  /*Opmaak voor het knopje met de link naar het filmpje*/
  
    .tekst3{
      font-family: Verdana, sans-serif;
      color: white;
      border-radius: 25px;
      background: #1da03c;
      border-style: inset;
      width: 530px;
      padding-bottom: 100px;
      padding-top: 100px;
      padding-left: 50px;
      padding-right: 40px;
      float: right; 
    }
    
    #onderste{
    margin-top: 10px; /*zodat er plek tussen de afbeeldingen bij cpu komt*/
    }
  
    /*opmaak voor de cpu afbeeldingen en tekst*/